@import "variables.less";
@import "mixins.less";

// Global Components
html,
body {
    height: 100%;
    width: 100%;
}

body {
    .sans-serif;
}

hr {
    border-color: @gold;
    border-width: 3px;
    max-width: 50px;
}

hr.full {
    max-width: 100%;
}

.hr-invisible {
    height: 2px;
    visibility: hidden;
    margin-bottom: -1px;
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

a {
    .transition-all;
    color: @navy;
    &:hover,
    &:focus {
        color: darken(navy, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.text-gold {
    color: @gold;
}

.text-navy {
    color: @navy;
}

.bg-navy {
    background-color: navy;
}

.navbar-default {
    background-color: white;
    border-color: fade(@gray-darker, 5%);
    .sans-serif;
    .transition-all;
    .navbar-header .navbar-brand {
        color: @navy;
        .sans-serif;
        font-weight: bolder;
        font-size: 30px;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: darken(@navy, 10%);
        }
    }
    .navbar-header .navbar-toggle {
        font-weight: bolder;
        font-size: 12px;
        color: @gray-darker;
        text-transform: uppercase;
    }
    .nav {
        padding-right: 55px !important;

        > li {
            > a {
                padding-top: 25px !important;
                padding-bottom: 25px !important;
            }
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: bolder;
                font-size: 19px;
                color: @gray-darker;
                &:hover {
                    color: @navy;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: @navy !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: fade(white, 30%);
        .navbar-header .navbar-brand {
            padding-left: 55px;
            padding-top: 25px;
            color: white;
            &:hover,
            &:focus {
                color: white;
            }
        }

        .nav > li > a,
        .nav > li > a:focus {
            color: white;
            &:hover {
                color: white;
            }
        }

        &.affix {
            background-color: white;
            border-color: fade(@gray-darker, 5%);
            .navbar-header .navbar-brand {
                color: @navy;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken(@navy, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: @gray-darker;
                &:hover {
                    color: @navy;
                }
            }
        }
    }
}

header {
    position: relative;
    width: 100%;
    .background-cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/iStock-476323940-flipped.jpeg');
    text-align: center;
    color: white;
    .header-content {
        filter: brightness(100%);
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        z-index: 3;
        .header-content-inner {
            img {
                height: 80px;
                margin-bottom: 20px;
            }
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 30px;
            }
            hr {
                margin: 30px auto;
            }
            p {
                color: darken(@white, 10%);
                .raleway-font;
                font-weight: 100;
                font-size: 24px;
                margin-bottom: 50px;
                line-height: 38px;

            }
            .highlight{
                display: inline;
                padding: 5px;
                position: relative;
                left: 10px;
                background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
                box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
                -webkit-box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
                -o-box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
                line-height: 45px;
                -webkit-box-decoration-break: clone;
                -o-box-decoration-break: clone;
                box-decoration-break: clone;
            }

            .btn-header{
                background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
                box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
                -webkit-box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
                -o-box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
                border-color: @gold;

                 -webkit-box-decoration-break: clone;
                -o-box-decoration-break: clone;
                box-decoration-break: clone;
                &:hover,
                &:focus,
                &.focus,
                &:active,
                &.active,
                .open > .dropdown-toggle& {
                    color: @navy;
                    background-color: darken(@navy, 5%);
                    border-color: darken(@navy, 7%);
                }
                &:active,
                &.active,
                .open > .dropdown-toggle& {
                    background-image: none;
                }
                &.disabled,
                &[disabled],
                fieldset[disabled] & {
                    &,
                    &:hover,
                    &:focus,
                    &.focus,
                    &:active,
                    &.active {
                        background-color: @navy;
                        border-color: @navy;
                    }
                }

                .badge {
                    color: @white;
                    background-color: @navy;
                }
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 65%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                img {
                    height: 120px;
                }
                h1 {
                    font-size: 50px;
                }
            }
        }
    }
}

header:after {
    background: url('../img/grid.png') center repeat;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

// Button Styles
.btn-default {
    .button-variant(@gray-darker; white; white);
}

.btn-primary {
    .button-variant(white; @navy; @navy);
}

.btn-primary-dark {
    .button-variant(white; darken(navy, 15%); darken(@navy, 15%));
}

.btn {
    .sans-serif;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: @gray-darker;
}

::selection {
    color: white;
    text-shadow: none;
    background: @navy;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    webkit-tap-highlight-color: @gray-darker;
}